
main {
    display: block;
    align-items: center;
    text-align: center;
}

#sec-1 {
    display:block;
    background-color: #ff6e02;

}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightcyan;
}

header h1 {
    display: inline-block;
    border: 6px solid black;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: aqua;
    -webkit-text-stroke: 4px black;
    color: #ff6e02;
    font-size: 7em;
    background-image: url(img/eagle.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(5px 5px 15px black);
    margin: 5vw
}
header {
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding:0px;
    width: 100vw;
    background-color: lightcyan;
    color: white;
}
#head-div {
    display: grid;
    width: 100%;

    background-image: url('img/antonio-can2.png');
    background-repeat: space;
    background-origin: content-box;
    background-size: 10vw;
    

    color: white;
    margin-left: auto;
    margin-right: auto;

}
#head-sub {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    padding: 30px;
}
#head-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-15deg);
    filter: drop-shadow(5px 5px 15px black);
    transition: transform .5s ease;
}
#head-img img{
    height: 30vh;
}
#head-img-2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(15deg);
    filter: drop-shadow(5px 5px 15px black);
    transition: transform .5s ease;
}
#head-img-2 img{
    height: 30vh;
}
#head-img-2:hover, #head-img:hover {
    transform: rotate(50deg);

}

@media screen and (max-width: 768px) {
    #head-sub {
        flex-wrap: wrap;
    }
    #head-img-2 {
        display: none;
    }
}
#slogans {
    font-size: 1.4em;
    text-align: center;
    text-decoration: underline;
    flex-grow: 1;

    background-color: #22437a;
    border: 4px  white solid;
    border-radius: 25px;
    padding: 15px;
    filter: drop-shadow(5px 5px 15px black);
}




div {
    display: inline-block;
}
.img-template {
    height: 25vh;
    border: gold 4px solid;
    border-radius: 25px;
}
#one {
    grid-area: one;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
#one-1 img{
    border: 4px gray solid;
    border-radius: 25px;
    width: 30vw;
}
#one-1 {
    margin: 25px;
    text-align: center;
}

#one-2 {
    text-align: center;
    font-size: 1em;
    background-color: beige;
    border: 4px black solid;
    border-radius: 25px;
    padding: 10px;
}
#one-2 h2 {
    text-align: center;
}
@media screen and (max-width: 768px) {
    #one {
        flex-wrap: wrap;
    }
    #one-1 img {
        width: 70vw;
    }
}

#two {
    grid-area: two;
    text-align: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    
}
#two-1 {
    height: 40vh;
    margin: 35px;
    /* background-image: url(img/lineup.jpg); */
    
    background-size: 1000vw;
    background-blend-mode:darken;
}
#two-1 img {
    height: 40vh;
    width: 80vw;
    object-fit: none;
    padding: 0px;
    filter: drop-shadow(5px 5px 25px black);
    border: 4px none solid;
    border-radius: 25px;
    transition: transform .5s ease;
}
#two-1 img:hover {
    transform: scale(1.1);
}
#two-2 {
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    background-color: beige;
    border: 4px black solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
}



#three { 
    grid-area: three;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 15px;
    background-color: black;
    border: 4px;
    border-radius: 30px;
    width: 90vw;
    margin-bottom: 40px;
}

.flex-three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
    text-align: left;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}
.flex-three p {
    font-size: 1.6em;
    color: white;
    background-color: #22437a;
    padding: 15px;
    border: 4px gold solid;
    border-radius: 25px;
    width: 40vw;
}
.flex-three img{
    height: 40vh;
    border: gold 4px solid;
    border-radius: 200px;
    text-align: center;
}

#three-5 {
    grid-area: threefive;
    display: inline-block;
    padding-top: 30px;
    font-size: 2em;
    
}
#three-5 h2 {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    color: white;
}
#three-5 h1 {
    display: block;
    border: 4px black solid;
    border-radius: 25px;;
    background-color: gold;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}
#three-5 h1:hover {
    border: 4px gold solid;
    background-color: black;
    color: white;
}
#three-6 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: threesix;
    padding: 25px;
    flex-wrap: wrap;
}
/* @media screen and (max-width: 768px){
    #three:nth-child(2) {
        flex-direction: row-reverse;

    }
} */
/* @media screen and (max-width: 768px) {
    #three-6:nth-child(2) {
        order: 3;
    }
    #three-6:nth-child(1) {
        order: 1;
    }
    #three-6:nth-child(3) {
        order: 2;
    }
} */
   
    
    
#four {
    grid-area: four;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-image: url('img/antonio-can2.png');
    background-repeat: space;
    background-origin: content-box;
    background-size: 10vw;
}
.four {
    display: inline-block;
    text-align: center;
    border: 4px #22437a solid;
    border-radius: 25px;
    margin: 25px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: lightgray;
    color: black;

    filter: drop-shadow(5px 5px 15px black);
}
.four img {
    width: 25vw;
    border: 4px #22437a;
    border-radius: 25px;
}
.four-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
#progress {
    border:#22437a 4px solid;
    display: flex;
    justify-content: center;
    background-color: #22437a;
    color: white;
    text-transform: uppercase;
}

#five {
    grid-area: five;
    padding: 30px;
    background-color: #ff6e02;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.flex-five {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-five img {
    width: 30vw;
    margin: 20px;
    border: 4px solid black;
    border-radius: 25px;
}
#five h1, #five h2, #five h3 {
    text-align: center;
    background-color: beige;
    border: 4px black solid;
    border-radius: 25px;
    padding: 20px;
    width: 40vw;
}
#five-2 img{
    width: 20vw;
}
#league {
    text-align: center;
}
#league img {
    width: 20vw;
}



#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
/*
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#ten {
    grid-area: ten;
}
#eleven {
    grid-area: eleven;
}
#twelve {
    grid-area: twelve;
}
#thirteen {
    grid-area: thirteen;
}
#fourteen {
    grid-area: fourteen;
}
#fifteen {
    grid-area: fifteen;
}
#sixteen {
    grid-area: sixteen;
}
#seventeen {
    grid-area: seventeen;
}
#eighteen {
    grid-area: eighteen;
}
#nineteen {
    grid-area: ninteen;
}
#twenty {
    grid-area: twenty;
}*/